*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f3f4;
    font-family: sans-serif;
}
.form-control{
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !important;
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    box-shadow: none;
}
.input-group-text{
    background: orange !important;
    border: 1px solid orange !important;
    margin: 8.5px 10px 3px 0 !important;
    border: 2px solid orange !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
    cursor: pointer;
    
}
.search-box{
    display: inline-flex;
    width: 60%;
}
.menu-bar{
    width: 40%;
    height: 57px;
    float: right;
}
.menu-bar ul{
    display: inline-flex;
    float: right;
    
}
.menu-bar ul li{
    border-left: 1px solid #fff;
    list-style-type: none;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}
.menu-bar ul li a{
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}
.fa-user-plus{
    margin-right: 5px !important;
   
}
.fa-sign-in-alt{
    margin-right: 5px;
}

/*----------featured Categorey------------*/

.featured-categories{
    margin: 50px 0;   
}
.featured-categories img{
    width: 100%;
    padding: 28px 0;
    transition: 1s;
    cursor: pointer;
}
.featured-categories img:hover{
    transform: scale(1.1)
}
/*---------------------On Sale------------------------------*/
.title-box{
    background: orange;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}
.title-box h2
{
    font-size: 24px;
}
.title-box::after{
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}

/*---------------------------product-top-----------------------------*/
.product-top img{
    width: 100%;
}
.overlay-right{
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0;
    width: 70px;
}
.overlay-right .fa{
    cursor: pointer;
    background-color: #fff;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.overlay-right .btn-secondary{
    background: none !important;
    border: none !important;
    box-shadow: none !important;
}
.product-top:hover ,overlay-right{
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}